<%
=begin%>
 Name: <%=@attraction.name%>
Total Number of Users: <%=@attraction.users.count%>
Ticket Requirement: <%=@attraction.tickets%>
Height Requirement: <%=@attraction.min_height%>
Nausea Rating: <%=@attraction.nausea_rating%>
Happiness Rating: <%=@attraction.happiness_rating%>
<%#=link_to "Go on this ride"%>




    <% unless current_user.admin %>
    <%= form_tag attractions_ride_path do %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= hidden_field_tag :attraction_id, @attraction.id %>
        <%= submit_tag 'Go on this ride' %>
    <% end %>
    <% end %>
    <%= link_to 'Edit Attraction', edit_attraction_path(@attraction) if current_user.admin %><br />
    <%= link_to 'Back', attractions_path %> 
<%
=end%>


<p id="notice"><%= notice %> </p>

<div class="center">

    <div class="info">
    <p><strong>Name: <%=@attraction.name%> </strong> </p>
    <p><strong>Total Number of Users:</strong> <%= @attraction.users.count %></p>
    <p><strong>Ticket Requirement:</strong> <%= @attraction.tickets %></p>
    <p><strong>Height Requirement:</strong> <%= @attraction.min_height %> inches</p>
    <p><strong>Nausea Rating:</strong> <%= @attraction.nausea_rating %></p>
    <p><strong>Happiness Rating:</strong> <%= @attraction.happiness_rating %></p>
    <% if current_user.admin%>
        <%=link_to 'Edit Attraction', [:edit, @attraction]%> </p>
    <%else%>
        <%=form_for @ride do |f| %>
            <%= f.hidden_field :user_id %><br />
            <%= f.hidden_field :attraction_id %><br />
            <%= f.submit "Go on this ride", class:"btn btn-light" %>
        <% end %>
    <%end%>
    </div>

</div>